### Amostragem Simples

In [15]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split

In [16]:
# Carregando o arquivo
df = pd.read_csv("iris.csv")
# Mostrando o arquivo
df.head(5)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [17]:
# Estabelecer uma semente aleatória para manutenção do resultado
np.random.seed(2345)

#150 Amostras | 0 a 1 | Reposição | prob. equivalentes
amostra = np.random.choice(a = [0,1], size = 150, replace = True,
                          p = [0.7,0.3])

In [18]:
len(amostra) #tamanho da amostra

150

In [19]:
print (len(amostra==1), len(amostra==0)) #vendo qtos de 1 e qtos de 0

150 150

In [20]:
basefinal1 = df.loc[amostra==0]
basefinal2 = df.loc[amostra==1]

In [21]:
print(basefinal1.shape, " | ", basefinal2.shape)

(101, 5)  |  (49, 5)

### Amostragem Estratificada

In [23]:
df['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [28]:
#iris.iloc [:, 0:4] - Atributos previsores (informações da planta - características)
#iris.iloc [:, 4] a classe a ser prevista (setosa, virginica ou versicolor)
# para testar a base selecionamos -> 0.5 (50%), por isso o _ para os outros valores
# retornar a amostra se baseando na classe

X, _, y, _ = train_test_split(df.iloc[:, 0:4], 
                              df.iloc[:, 4],         
                              test_size=0.5, 
                              stratify = df.iloc[:, 4])

y.value_counts()

Iris-setosa        25
Iris-versicolor    25
Iris-virginica     25
Name: class, dtype: int64

 > Outro dataset - Infert

In [29]:
infert = pd.read_csv('infert.csv')

infert.head(5)

,Unnamed: 0,education,age,parity,induced,case,spontaneous,stratum,pooled.stratum
0,1,0-5yrs,26,6,1,1,2,1,3
1,2,0-5yrs,42,1,1,1,0,2,1
2,3,0-5yrs,39,6,2,1,0,3,4
3,4,0-5yrs,34,4,2,1,0,4,2
4,5,6-11yrs,35,3,1,1,1,5,32

In [31]:
infert.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,248.0,124.500000,71.735626,1.0,62.75,124.5,186.25,248.0
age,248.0,31.504032,5.251565,21.0,28.00,31.0,35.25,44.0
parity,248.0,2.092742,1.251504,1.0,1.00,2.0,3.00,6.0
induced,248.0,0.572581,0.738457,0.0,0.00,0.0,1.00,2.0
case,248.0,0.334677,0.472832,0.0,0.00,0.0,1.00,1.0
spontaneous,248.0,0.576613,0.732541,0.0,0.00,0.0,1.00,2.0
stratum,248.0,41.870968,23.968423,1.0,21.00,42.0,62.25,83.0
pooled.stratum,248.0,33.580645,17.272100,1.0,19.00,36.0,48.25,63.0

In [34]:
infert['education'].value_counts()

6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: education, dtype: int64

In [37]:
# amostra com apenas 40% dos registros
# teste com 60%
X1, _, y1, _ = train_test_split(infert.iloc[:, 2:9], infert.iloc[:, 1],
                                test_size=0.6, stratify= infert.iloc[:, 1])
y1.value_counts()

6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: education, dtype: int64