
##                            Amostragem Simples

---------------------------------------------------------------------

In [51]:
import pandas as pd 
import numpy as np

from scipy 
from math import ceil
from sklearn.model_selection import train_test_split

In [52]:
# Carregando o arquivo
df = pd.read_csv("iris.csv")
# Mostrando o arquivo
df.head(5)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [53]:
# Estabelecer uma semente aleatória para manutenção do resultado
np.random.seed(2345)

#150 Amostras | 0 a 1 | Reposição | prob. equivalentes
amostra = np.random.choice(a = [0,1], size = 150, replace = True,
                          p = [0.7,0.3])

In [54]:
len(amostra) #tamanho da amostra

150

In [55]:
print (len(amostra==1), len(amostra==0)) #vendo qtos de 1 e qtos de 0

150 150

In [56]:
basefinal1 = df.loc[amostra==0]
basefinal2 = df.loc[amostra==1]

In [57]:
print(basefinal1.shape, " | ", basefinal2.shape)

(101, 5)  |  (49, 5)

---------------------------------------------------------------------

## Amostragem Estratificada

---------------------------------------------------------------------

In [58]:
df['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [59]:
#iris.iloc [:, 0:4] - Atributos previsores (informações da planta - características)
#iris.iloc [:, 4] a classe a ser prevista (setosa, virginica ou versicolor)
# para testar a base selecionamos -> 0.5 (50%), por isso o _ para os outros valores
# retornar a amostra se baseando na classe

X, _, y, _ = train_test_split(df.iloc[:, 0:4], 
                              df.iloc[:, 4],         
                              test_size=0.5, 
                              stratify = df.iloc[:, 4])

y.value_counts()

Iris-setosa        25
Iris-versicolor    25
Iris-virginica     25
Name: class, dtype: int64

 > Outro dataset - Infert

In [60]:
infert = pd.read_csv('infert.csv')

infert.head(5)

,Unnamed: 0,education,age,parity,induced,case,spontaneous,stratum,pooled.stratum
0,1,0-5yrs,26,6,1,1,2,1,3
1,2,0-5yrs,42,1,1,1,0,2,1
2,3,0-5yrs,39,6,2,1,0,3,4
3,4,0-5yrs,34,4,2,1,0,4,2
4,5,6-11yrs,35,3,1,1,1,5,32

In [61]:
infert.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,248.0,124.500000,71.735626,1.0,62.75,124.5,186.25,248.0
age,248.0,31.504032,5.251565,21.0,28.00,31.0,35.25,44.0
parity,248.0,2.092742,1.251504,1.0,1.00,2.0,3.00,6.0
induced,248.0,0.572581,0.738457,0.0,0.00,0.0,1.00,2.0
case,248.0,0.334677,0.472832,0.0,0.00,0.0,1.00,1.0
spontaneous,248.0,0.576613,0.732541,0.0,0.00,0.0,1.00,2.0
stratum,248.0,41.870968,23.968423,1.0,21.00,42.0,62.25,83.0
pooled.stratum,248.0,33.580645,17.272100,1.0,19.00,36.0,48.25,63.0

In [62]:
infert['education'].value_counts()

6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: education, dtype: int64

In [63]:
# amostra com apenas 40% dos registros
# teste com 60%
X1, _, y1, _ = train_test_split(infert.iloc[:, 2:9], infert.iloc[:, 1],
                                test_size=0.6, stratify= infert.iloc[:, 1])
y1.value_counts()

6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: education, dtype: int64

---------------------------------------------------------------------

## Amostragem Sistemática

---------------------------------------------------------------------

In [65]:
pop = 150
amostra = 15

# para obter uma amostra de 15, precisamentos selecionar um a cada 10
k = ceil(pop/amostra)

#resultado = 10
print(k)

10

In [76]:
# definição do valor aleatório p/ inicar a amostrar
# vai de 1 até k +1

r = np.random.randint(low = 1, high = k + 1, size = 1)

print(r)

[5]

In [79]:
# For que somará os próximos valores
# baseado no 1º valor de r definido acima

acumulador = r[0]
sorteados = []

for i in range(amostra):
    sorteados.append(acumulador)
    acumulador += k
    
print(len(sorteados))
print(sorteados)

15
[5, 15, 25, 35, 45, 55, 65, 75, 85, 95, 105, 115, 125, 135, 145]

In [81]:
# carregando a base final para carregar o método 

df.loc[sorteados]

     sepal length  sepal width  petal length  petal width            class
5             5.4          3.9           1.7          0.4      Iris-setosa
15            5.7          4.4           1.5          0.4      Iris-setosa
25            5.0          3.0           1.6          0.2      Iris-setosa
35            5.0          3.2           1.2          0.2      Iris-setosa
45            4.8          3.0           1.4          0.3      Iris-setosa
55            5.7          2.8           4.5          1.3  Iris-versicolor
65            6.7          3.1           4.4          1.4  Iris-versicolor
75            6.6          3.0           4.4          1.4  Iris-versicolor
85            6.0          3.4           4.5          1.6  Iris-versicolor
95            5.7          3.0           4.2          1.2  Iris-versicolor
105           7.6          3.0           6.6          2.1   Iris-virginica
115           6.4          3.2           5.3          2.3   Iris-virginica
125           7.2          3.2           6.0          1.8   Iris-virginica
135           7.7          3.0           6.1          2.3   Iris-virginica
145           6.7          3.0           5.2          2.3   Iris-virginica

---------------------------------------------------------------------

## Centralidade e Variabilidade

---------------------------------------------------------------------