### Amostragem Simples

In [3]:
import pandas as pd 
import numpy as np

In [4]:
# Carregando o arquivo
df = pd.read_csv("iris.csv")
# Mostrando o arquivo
df.head(5)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [7]:
# Estabelecer uma semente aleatória para manutenção do resultado
np.random.seed(2345)

#150 Amostras | 0 a 1 | Reposição | prob. equivalentes
amostra = np.random.choice(a = [0,1], size = 150, replace = True,
                          p = [0.7,0.3])

In [8]:
len(amostra) #tamanho da amostra

150

In [14]:
print (len(amostra==1), len(amostra==0)) #vendo qtos de 1 e qtos de 0

150 150

In [12]:
basefinal1 = df.loc[amostra==0]
basefinal2 = df.loc[amostra==1]

In [13]:
print(basefinal1.shape, " | ", basefinal2.shape)

(101, 5)  |  (49, 5)